@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


body {
  background-image: url(https://cdn.wallpapersafari.com/8/34/WcGsPg.jpg);
  background-size: cover;
  background-position: center;
  color: #80ce72;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.center {
  text-align: center;
}

h1 {
  font-family: 'MedievalSharp', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5em;
}

.button {
  width: 60px;
  height: 60px;
  background-color: rgb(7, 153, 158);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px #1ac1eb;
}